
.original
{
    width:80%;
    height:50%;
    background-color: green;
    color: white;
    font-size: 30px;
    margin:auto;
}

.nueva
{
    width:80%;
    height:50%;
    background-color: red;
    color: white;
    font-size: 30px;
    margin:auto;
}